@{
    ViewData["Title"] = "SOFTWARE APPLICATIONS";
}

<div class="container">
    <h3 class="text-center">SOFTWARE APPLICATIONS</h3>
    <ul>
        <li>HYDRUS</li>
        <li>MODFLOW</li>
        <li>FEFLOW</li>
        <li>GOLDSIM</li>
        <li>PHREEQC</li>
        <li>ArcGIS</li>
        <li>QGIS</li>
        <li>CFX</li>
        <li>ANSYS</li>
        <li>DYNAMIC STUDIO</li>
    </ul>
</div>