@{
    ViewData["Title"] = "SOFTWARE APPLICATIONS";
}

<div class="container">
    <h3 class="text-center">SOFTWARE APPLICATIONS</h3>
    <div class="row">
        <div class="card col-sm-6 col-md-3">
            <img src="~/images/resources/software/HYDRUS.jpg" class="card-img-top" />
            <div class="card-body">
                <p class="card-title font-weight-bold text-center">HYDRUS</p>
            </div>
        </div>
        <div class="card col-sm-6 col-md-3">
            <img src="~/images/resources/software/MODFLOW.gif" class="card-img-top" />
            <div class="card-body">
                <p class="card-title font-weight-bold text-center">MODFLOW</p>
            </div>
        </div>
        <div class="card col-sm-6 col-md-3">
            <img src="~/images/resources/software/feflow.png" class="card-img-top" />
            <div class="card-body">
                <p class="card-title font-weight-bold text-center">FEFLOW</p>
            </div>
        </div>
        <div class="card col-sm-6 col-md-3">
            <img src="~/images/resources/software/goldsim.png" class="card-img-top" />
            <div class="card-body">
                <p class="card-title font-weight-bold text-center">GOLDSIM</p>
            </div>
        </div>
        <div class="card col-sm-6 col-md-3">
            <img src="~/images/resources/software/PHREEQC.jpg" class="card-img-top" />
            <div class="card-body">
                <p class="card-title font-weight-bold text-center">PHREEQC</p>
            </div>
        </div>
        <div class="card col-sm-6 col-md-3">
            <img src="~/images/resources/software/ArcGIS.png" class="card-img-top" />
            <div class="card-body">
                <p class="card-title font-weight-bold text-center">ArcGIS</p>
            </div>
        </div>
        <div class="card col-sm-6 col-md-3">
            <img src="~/images/resources/software/QGIS.png" class="card-img-top" />
            <div class="card-body">
                <p class="card-title font-weight-bold text-center">QGIS</p>
            </div>
        </div>
        <div class="card col-sm-6 col-md-3">
            <img src="~/images/resources/software/CFX.jpg" class="card-img-top" />
            <div class="card-body">
                <p class="card-title font-weight-bold text-center">CFX</p>
            </div>
        </div>
        <div class="card col-sm-6 col-md-3">
            <img src="~/images/resources/software/ANSYS.png" class="card-img-top" />
            <div class="card-body">
                <p class="card-title font-weight-bold text-center">ANSYS</p>
            </div>
        </div>
        <div class="card col-sm-6 col-md-3">
            <img src="~/images/resources/software/SYNAMIC STUDIO.png" class="card-img-top" />
            <div class="card-body">
                <p class="card-title font-weight-bold text-center">DYNAMIC STUDIO</p>
            </div>
        </div>
    </div>
</div>