<!DOCTYPE html>
<!-- Project   : SefcomEnvironment
     ASP.NET Core 2.2 MCV Web Application

     Developer : Katlego Mokhethi
                 mokhethikatlego@gmail.com
     Contact at: https://katlegomokethi.github.io/home
 -->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Stylesheets -->
    <link asp-href-include="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link asp-href-include="~/styles/style.css" rel="stylesheet" />
    <title>@ViewData["Title"] | SEFCOM Environment</title>
</head>
<body>
    <header>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                <!--Navbar Brand-->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <h3 class="text-light">
                        <img src="~/images/logo/SE_WLogo.png" width="140" alt="Sefcom Environment"/>
                    </h3>
                </a>
                <!--Hamburger menu-->
                <button class="navbar-toggler btn-outline-warning" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Nav Items-->
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 font-weight-bold">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Services" asp-action="Index">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Software" asp-action="Index">Softwares</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Partners">Partners</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Team">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="References">References</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <!-- footer -->
    <footer>
        <div class="container text-light text-center p-2">
            <div class="text-center text-muted">
                &copy; Copyright @DateTime.Now.Year.ToString() SEFCOM Environment . All rights reserved
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script asp-src-include="lib/jquery/jquery.slim.min.js"></script>
    <script asp-src-include="lib/popper.js/popper.min.js"></script>
    <script asp-src-include="lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>