@{
    ViewData["Title"] = "About Us";
}

<div class="About">
    <div class="container text-white pt-5">
        <h1 class="text-center">ABOUT US</h1>
        <p>
            SEFCOM Environment was established in 2018 to deliver and expand professional environmental 
            and groundwater consulting in Ghana and Africa. The company is highly specialized and offers 
            clients individual services worldwide backed by a wide range of expertise.
        </p>
        <p>
            We apply our expertise to a wide client base including the mining, government, institutional, agricultural 
            and industrial sectors (locally and internationally). Our specific expertise includes hydrogeological 
            (and seepage) modelling, groundwater management, geochemistry, hydraulic plume containment, 
            groundwater supply, spatial data analysis and environmental/groundwater training.
        </p>
        <h1 class="text-center">OUR GOAL</h1>
        <p>
            Our goal is partnership with our clients to provided the highest quality of services and to 
            maintain high levels of professional ethics towards the fourth industrial revolution and beyond. 
            We are enthusiastic about the implementation of modern technology and artificial intelligence.
        </p>
    </div>
</div>