@{
    ViewData["Title"] = "Contact Us";
}

<div class="About">
    <div class="container text-white pt-5">
        <h1 class="text-center">CONTACT US</h1>
        <p style="font-family: Impact; font-size:24pt;" class="text-uppercase pt-5">
            Should you need to keep in touch with us,<br />
            Do not hesistate to contact us. We will respond immediately.
        </p>
        <p>
            Tel: +233 245142414, +27 632947083 <br />
            EMAIL: <a href="mailto:info@sefcomenv.com">info@sefcomenv.com</a> <br />
            POSTAL ADDRESS: P.O. BOX TF330, ACCRA, GHANA <br />
            PHYSICAL ADDRESS: 10 OFFIN STREET, KWABENYA, ACCRA, GHANA.
        </p>
        @*<div id="map">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1tiTr04DWFqagoQMcOox6oChIIlNucuyY" width="640" height="480"></iframe>
        </div>*@
    </div>    
</div>
