@{
    ViewData["Title"] = "Contact Us";
}

<div class="container">
    <h3 class="text-center">CONTACT US</h3>
    <p>
        Tel: +233 24 5142414, +233 20 8833034 <br />
        EMAIL: <a href="mailto:info@sefcomenv.com">info@sefcomenv.com</a> <br />
        POSTAL ADDRESS: P.O. BOX TF330, ACCRA, GHANA <br />
        PHYSICAL ADDRESS: 10 OFFIN STREET, KWABENYA, ACCRA, GHANA.
    </p>

</div>
