@{
    ViewData["Title"] = "Home";
}
<div padding-top: 70px;">
    <div id="top">
        <div id="carouselIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicators" data-slide-to="1"></li>
                <li data-target="#carouselIndicators" data-slide-to="2"></li>
                <li data-target="#carouselIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="2000">
                    <img src="~/images/resources/carousel/image1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-interval="2000">
                    <img src="~/images/resources/carousel/image2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-interval="2000">
                    <img src="~/images/resources/carousel/image3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-interval="2000">
                    <img src="~/images/resources/carousel/image4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div id="HomeTopSection" class="text-white d-flex justify-content-center">
        <div class="WelcomeMessage container text-center">
            <h1 id="WelcomeText">
                WELCOME TO<br />SEFCOM ENVIRONMENT
            </h1>
            <p id="SubHeading">
                <hr class="bg-white" />
                Delivering and expanding professional entertainmental, water and engineering consulting in Ghana and Africa.
            </p>
        </div>
    </div>
    <div class="container pt-5">
        <div id="MainContent" class="pb-3">
            <p>
                SECOM Environment is a highly specialised and skilled environmental, engineering,
                and groundwater consulting company dedicated to deliver world class products to our clients.
                SEFCOM Environment prides itself in providing clients with a blend of traditional Environmental
                and Engineering Solutions complemented with current dynamics and technologies.
            </p>
            <p>
                We are the benchmark
                of quality within our industry with innovative, diversified Environmental and Ground Engineering
                Specialists in Africa. The company works closely with a trusted and accredited professional network
                of leading specialists, ensuring that a wealth of knowledge and innovation is brought to each customer
                experience.
                The company enjoys a staff complement of committed, highly trained, specialized and skilled
                professionals of international reputation.
            </p>
            <p>FOR YOUR NEXT PROJECT, SEFCOM ENVIRONMENT IS YOUR 4IR PARTNER!</p>
        </div>
        <div id="Services">
            <div class="row">
                <div class="col">
                    <h3>
                        <a class="p-2 text-danger" asp-controller="Services" asp-action="Index">OUR SERVICES</a>
                    </h3>
                    <ul>
                        <li>Environmental</li>
                        <li>Water</li>
                        <li>Engineering</li>
                        <li>Research</li>
                        <li>Training</li>
                    </ul>
                </div>
                <div class="col">
                    <img class="img" src="~/images/resources/HhdroGModel.png" />
                </div>
            </div>
        </div>
        <div id="Software">
            <div class="row">
                <div class="col">
                    <h3>
                        <a class="p-2 text-danger" asp-controller="Software" asp-action="Index">OUR SOFTWARE</a>
                    </h3>
                    <ul>
                        <li>HYDRUS</li>
                        <li>MODFLOW</li>
                        <li>FEFLOW</li>
                        <li>GOLDSIM</li>
                        <li>PHREEQC</li>
                        <li>ArcGIS</li>
                        <li>QGIS</li>
                        <li>CFX</li>
                        <li>ANSYS</li>
                        <li>DYNAMIC STUDIO</li>
                    </ul>
                </div>
                <div class="col">
                    <img class="img" src="~/images/resources/software/MODFLOW.gif" />
                </div>
            </div>
        </div>
        <div id="Goal" class="pt-3">
            <p>
                Our goal is partnership with our clients to provided the highest quality of services and
                to maintain high levels of professional ethics towards the fourth industrial revolution and beyond.
                We are enthusiastic about the implementation of modern technology and artificial intelligence.
            </p>
        </div>
    </div>
</div>