@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div>
        <p>
            SECOM Environment is a highly specialised and skilled environmental, engineering, 
            and groundwater consulting company dedicated to deliver world class products to our clients. 
            SEFCOM Environment prides itself in providing clients with a blend of traditional Environmental 
            and Engineering Solutions complemented with current dynamics and technologies. We are the benchmark 
            of quality within our industry with innovative, diversified Environmental and Ground Engineering 
            Specialists in Africa. The company works closely with a trusted and accredited professional network 
            of leading specialists, ensuring that a wealth of knowledge and innovation is brought to each customer 
            experience.
            The company enjoys a staff complement of committed, highly trained, specialized and skilled 
            professionals of international reputation.
            <br />
            FOR YOUR NEXT PROJECT, SEFCOM ENVIRONMENT IS YOUR 4IR PARTNER!
        </p>
    </div>
</div>