@{
    ViewData["Title"] = "REFERENCES/SUPPORT/DOWNLOAD";
}
<div style="height:100vh; padding-top: 70px;">
    <div class="container">
        <h1 class="h1-responsive font-weight-bold text-center my-4 p-5">REFERENCES</h1>
        <div>
            <div>
                <h4><a href="#">Project pictures</a></h4>
            </div>
            <div>
                <h4><a href="#">Documents</a></h4>
                <a href="~/docs/MiningEngineering.pdf">Mining Engineering.pdf</a>
            </div>
            <div>
                <h4><a asp-controller="Software" asp-action="Index">Softwares</a></h4>
            </div>
            <div>
                <h4><a href="#">Publications</a></h4>
            </div>
        </div>
    </div>
</div>