@{
    ViewData["Title"] = "REFERENCES/SUPPORT/DOWNLOAD";
}
<div style="height:100vh; padding-top: 70px;">
    <div class="container">
        <h1 class="h1-responsive font-weight-bold text-center my-4 p-5">REFERENCES</h1>
        <ul>
            <li>
                <a href="#">Project pictures</a>
            </li>
            <li>
                <a href="#">Documents</a>
            </li>
            <li><a asp-controller="Software" asp-action="Index">Softwares</a></li>
            <li>
                <a href="#">Publications</a>
            </li>
        </ul>
    </div>
</div>