@{
    ViewData["Title"] = "JOIN OUR TEAM";
}
<div style="height:100vh; padding-top: 70px;">
    <div class="container text-center ">
        <h1 class="font-weight-bold p-5">JOIN OUR TEAM</h1>
        <p>
            Thank you for your interest to be part of Sefcom Environment Limited. 
            At Sefcom Environment, we seek creative and career-oriented employees 
            who will strengthen our market presence. If you like to be a part of our family, 
            contact us to join a team that shares a vision of excellence. 
            To submit your resume, please send an email to: <a href="mailto:info@sefcomenvironment.com">info@sefcomenvironment.com</a>
        </p>
        <div>
            <h2>Learn more about us</h2>
            <a asp-controller="Home" asp-action="About" class="btn btn-warning text-white font-weight-bold" style="border-radius: 50px;">ABOUT US</a>
        </div>
    </div>
</div>