@{
    ViewData["Title"] = "SPECIALIST SERVICES";
}
<div class="area">
    <div class="container">
        <h3 class="text-center">SPECIALIST SERVICES</h3>
        <h4>ENVIRONMENTAL</h4>
        <ul>
            <li>Environmental Impact Assessment</li>
            <li>Environmental Sensitity Analysis and Mapping</li>
            <li>Environmental Planning</li>
            <li>Land-use Planning</li>
            <li>GIS Spatial Modelling</li>
            <li>Soil Studies and Analysis</li>
        </ul>
        <h4>WATER</h4>
        <ul>
            <li>Hydrogeological Modelling</li>
            <li>Geophysical Investigations</li>
            <li>Seepage Modelling</li>
            <li>Groundwater Management</li>
            <li>Geochemistry</li>
            <li>Hydraulic Plume Containment</li>
            <li>Groundwater Supply</li>
            <li>Spatial Data Analysis</li>
            <li>Floodline Mapping</li>
            <li>Surface Water Baseline and Impact Assessment</li>
            <li>Development of Stormwater management Plans and Audits</li>
        </ul>
        <h4>ENGINEERING</h4>
        <ul>
            <li>Agricultural Systems</li>
            <li>Mining</li>
            <li>Oil and Gas</li>
            <li>Particle Separation Systems</li>
            <li>Software Development</li>
            <li>Design of Industrial Jets for discharging industrial effluent</li>
            <li>Design of clinical drug inhalation devices</li>
            <li>Pneumatic conveying systems</li>
            <li>Design of Toilet and Sanitation facilities</li>
        </ul>
        <h4>RESEARCH</h4>
        <p>
            SEFCOM Environment is in the forefront with many academic institutions, industry, government and non-governmental organizations, United Nation organizations, and private sector in the field of research and development toward sustainable developments goals. We collaborate in the area of agriculture, water, climate change, environment, sanitation, and energy.
        </p>
        <h4>TRAINING</h4>
        <p>
            SEFCOM Environment provide wide range of environment, engineering, hydrogeological training in the public, private and industrial sector in many countries.
        </p>
    </div>
</div>